{{#each songs}}
<!--'#each' has to take the same key as the object I'm passing into my hbs template-->
<div>
	<div>{{ title }}</div>
	<div>{{ artist }}</div>
	<div><em>{{ album }}</em>, <em>{{ year }}</em></div>
</div>
<br />
{{/each}}
